{%extends 'base.html'%}
{%load static%}
{%block content%}
    <!-- Page About -->
    <div class="vg-page page-about" id="about">
      
      <!-- Profile -->
      <div class="container py-3">
        <div class="row">
          <div class="col-md-6">
            <div class="img-place wow zoomIn">
              <img src="{% static 'assets/img/work/loving.jpg' %}" alt="Photo Profile">
            </div>
          </div>
          <div class="col-md-6">
            <div class="caption wow fadeInRight">
              <h2 class="fg-theme">Feyi-Von</h2>
              <p class="fg-theme fw-medium">Backend Developer</p>
              <p>My name is Ayo-Vaughan Feyisan, I am a python (Django) backend Developer,Video Editor and  Content Creator.</p>
             
              <!-- <button class="btn btn-theme btn-rounded">Download CV</button> -->
            </div>
          </div>
        </div>
        </div>
      </div> <!-- End profile -->
      
      
     <!-- End page about -->
<!--     
    Testimonials
    <div class="vg-page p-0" id="testimonial">
      <div class="owl-carousel testi-carousel" style="background-image: url({%static 'assets/img/photo-2.jpg' %});">
        <div class="item">
          <p>"Feyi has shown exceptional aptitude for giving a secure and confidential user friendly authorization and has been a valuable asset to the team."</p>
          <span class="iconic">
            <span class="ti-quote-left"></span>
          </span>
          <h4>Seyi Abejoye</h4>
        </div>
        <div class="item">
          <p>"Feyi has contributed significantly to our E-commerce project by designing the backend functions as well as user authorization and database organisation."</p>
          <span class="iconic">
            <span class="ti-quote-left"></span>
          </span>
          <h4>Ejiro Esiri</h4>
        </div>
        <div class="item">
          <p>"The internship was a fantastic opportunity to learn from experienced developers and contribute to real-world projects."</p>
          <span class="iconic">
            <span class="ti-quote-left"></span>
          </span>
          <h4>Feyi-Von</h4>
        </div>
      </div>
    </div>  End testimonial -->     
    <!-- </div>  End page blog -->
  <!-- </div> End main wrapper --> 
{%endblock content%}
