{%extends 'base.html'%}
{%load static%}
{%block content%}
    <!-- Portfolio page -->
    <div class="vg-page page-portfolio" id="portfolio">
        <div class="container">
          <div class="text-center wow fadeInUp">
            <div class="badge badge-subhead"></div>
          </div>
          <h1 class="text-center fw-normal wow fadeInUp">See my work</h1>
          <div class="filterable-button py-3 wow fadeInUp" data-toggle="selected">
            <button class="btn btn-theme-outline selected" data-filter="*">All</button>
            <button class="btn btn-theme-outline" data-filter=".apps">API</button>
            <button class="btn btn-theme-outline" data-filter=".template">E-commerce</button>
            <!-- <button class="btn btn-theme-outline" data-filter=".ios">Web-Service</button> -->
            <!-- <button class="btn btn-theme-outline" data-filter=".ui-ux">E-commerce</button> -->
          </div>
    
          <div class="gridder my-3">
            <a href="https://finalproject-6w2r.onrender.com"target="blank">
            <div class="grid-item apps wow zoomIn">
              <div class="img-place" data-src="../assets/img/work/work-1.jpg">
                <img src="{% static 'assets/img/work/api.png' %}" alt="">
                <div class="img-caption">
                  <h5 class="fg-theme">Web-Service</h5>
                  <p>API</p>
                </div>
              </a>
              </div>
            </div>
            <div class="grid-item template wireframes wow zoomIn">
              <a href="https://shopping-mall-1ckc.onrender.com" target="_blank">
              <div class="img-place" data-src="../assets/img/work/work-2.jpg">
                <img src="{% static 'assets/img/work/shop.png' %}" alt="">
                <div class="img-caption">
                  <h5 class="fg-theme">Web-Service</h5>
                  <p>E-commerce</p>
                </div>
              </a>
              </div>
            </div>
            <div class="grid-item apps ios wow zoomIn">
              <a href="https://djangoapi-oiux.onrender.com" target="_blank">
              <div class="img-place" data-src="../assets/img/work/work-3.jpg">
                <img src="{% static 'assets/img/work/api.png' %}" alt="api.png">
                <div class="img-caption">
                  <h5 class="fg-theme">Web-Service</h5>
                  <p>API</p>
                </div>
              </a>
              </div>
            <!-- </div>
            <div class="grid-item graphic ui-ux wow zoomIn">
              <div class="img-place" data-src="../assets/img/work/work-4.jpg" data-fancybox data-caption="<h5 class='fg-theme'>Drugs Delivery App</h5> <p>Health, Drugs</p>">
                <img src="{% static 'assets/img/work/work-4.jpg' %}" alt="">
                <div class="img-caption">
                  <h5 class="fg-theme">Drugs Delivery App</h5>
                  <p>Health, Drugs</p>
                </div>
              </div> -->
            <!-- </div> -->
            <!-- <div class="grid-item apps ios wow zoomIn">
              <div class="img-place" data-src="../assets/img/work/work-5.jpg" data-fancybox data-caption="<h5 class='fg-theme'>Musics Discover</h5> <p>Musics, Dashboard</p>">
                <img src="{% static 'assets/img/work/work-5.jpg' %}" alt="">
                <div class="img-caption">
                  <h5 class="fg-theme">Musics Discover</h5>
                  <p>Musics, Dashboard</p>
                </div>
              </div> -->
            <!-- </div> -->
            <!-- <div class="grid-item graphic ui-ux wireframes wow zoomIn">
              <div class="img-place" data-src="../assets/img/work/work-6.jpg" data-fancybox data-caption="<h5 class='fg-theme'>Game Streaming</h5> <p>Games, Streaming</p>">
                <img src="{% static 'assets/img/work/work-6.jpg' %}" alt="">
                <div class="img-caption">
                  <h5 class="fg-theme">Game Streaming</h5>
                  <p>Games, Streaming</p>
                </div> -->
              </div>
            </div>
          </div> <!-- End gridder -
          <div class="text-center wow fadeInUp">
            <a href="javascript:void(0)" class="btn btn-theme">Load More</a>
          </div>
        </div>
      </div> < End Portfolio page -->
{%endblock content%}